.container {
    box-shadow: 0 0 3px 3px rgba(0, 0, 0, 0.3);
    padding: 1rem;
    max-width: 800px;
    width: 100%;

    input[type="text"],
    input[type="password"] {
        padding: 0.4rem;
        display: block;
        border: 1px solid rgba(0, 0, 0, 0.3);
        display: block;
        width: 100%;
    }

    .submit,
    input[type="submit"] {
        padding: 0.5rem 0.9rem;
        cursor: pointer;
        background-color: black;
        color: white;
        border: 2px solid transparent;
    }

    .submitting {
        background-color: white;
        border-color: black;
    }

    .form-input {
        margin-bottom: 1rem;
    }

    .error {
        font-size: x-small;
        color: red;
    }
}
