.container {
    display: flex;
    justify-content: center;
    padding: 1rem;

    .nav {
        display: flex;
        gap: 2rem;

        .nav-item {
            padding: 1rem 2rem;
            display: inline-block;
            background-color: black;
            color: white;
            border: 2px solid transparent;

            &.active {
                background: white;
                color: black;
                border-color: black;
            }
        }

        .logout {
            padding: 1rem 2rem;
            display: inline-block;
            color: white;
            border: 2px solid transparent;
            background-color: red;
        }
    }
}

.content {
    max-width: 1300px;
    margin-left: auto;
    margin-right: auto;
}

.header {
    margin-bottom: 1rem;
    border-bottom: 1px solid black;
}

.footer {
    display: flex;
    justify-content: center;
    padding: 3rem;
    background-color: black;

    color: white;
}
